/* Contact.css */
.contact {
    text-align: center;
  }
  
  .contact h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .contact a {
    color: #007BFF;
    font-weight: bold;
  }
  
  .contact a:hover {
    color: #0056b3;
  }
  